@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333131;
    background-color: black;
}

a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: auto;
    width: 47.5rem;
}

.content__hello {
    display: flex;
    margin-top: 4.2rem;
    margin-bottom: 5rem;
    font-size: 28px;
    line-height: 2.8rem;
}

.content__hello-img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid silver;
}

.content__social {
    display: flex;
    justify-content: center; /* Центрируем ссылки */
    gap: 20px; /* Отступ между иконками */
    font-size: 18px;
    padding-top: 10px;
    align-items: center;
}

.content__social-item {
    display: flex;
    align-items: center;
}

.content__social-item img {
    width: 40px; /* Увеличенный размер */
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

.content__social-item img:hover {
    transform: scale(1.2); /* Эффект увеличения */
}
